<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="Windify.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Tourney:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Festive&family=Mountains+of+Christmas:wght@700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Dancing+Script:wght@700&family=Festive&family=Mountains+of+Christmas:wght@700&family=Permanent+Marker&family=Rye&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windify</title>
</head>

<body>

    <!-- Nav bar -->
    <div class="bglt">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light  ">

                <div class="container-fluid wnd">

                    <a class="navbar-brand wnd animate__animated animate__zoomInLeft  animate__slower  animate__infinite"
                        href="#" style="color: #e98074;">
                        <img src="Windify.png" alt="" width="70" height="40 " class="d-inline-block align-text-center ">
                        Windify
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" style="color: #e98074;" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #e98074;" href="/weather">Weather</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #e98074;" href="/about">About</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>
    </div>


    <!-- Main Header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter Name Of Your City" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day" class="align-text-center"> Tuesday</p>
                        <p id="today_date" class="align-text-center">13 july</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name" style="font-size: 4rem;">Get Output</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C </p>
                            <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i></p>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>


    <footer>
        <p class="align-text-center">❤Windify❤</p>
    </footer>
    <script src="js/main.js"></script>
    <script>

        const getCurrentDay = () => {
            let weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";
            let currentTime = new Date();
            let days = weekday[currentTime.getDay()];
            let day = document.getElementById('day');
            day.innerText = days;
            console.log(days);
        }
        getCurrentDay();
        const currentDate = () => {
            var today = new Date();
            today_date.innerText = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        }
        currentDate();
    </script>









    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>